header {
    background-attachment: fixed;
    border: cyan;
    border: solid;
    background-color: darkkhaki;
    position: relative;
    justify-content: space-between;
    justify-items: center;
    list-style-type: none;
}
.span{
    color: coral;
    border: 1px;
    
}
image{
    width: 50%;
}
li {
    display: flex;
    list-style-type: none;
    float: left;
      font-stretch: ;
    color: darkorange;
}
.var1{
    float: left;
    flex-direction: column;
}
.var{
    margin-right: 50px;
    margin-top: 20px;
 text-align:right ;
  
}
img{
   width: 20%;
   height: 100%;
}
h2{
    text-align: center;
    font-size: xx-large;
    color: firebrick;
}


#p{
    text-align: left;
    margin-left: 0px;
    
}
.po{
    background-color: gray;
    border: 1px;
   display: list-item;
   display: flex;
   text-emphasis-position: center;
   height: 50%;
   margin-top: 1%;
 
   
}
.k{
    width: 100%;
    height: 100%;
}
li {
    float: left;

}
.la{
text-align: left;
margin-left: 0px;
display: grid;
grid-template-columns: repeat(3, 1fr);
flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content: space-around;
	align-items: flex-start;
    align-content: space-around;
    white: 20px ;
    grid-column: 3;
    grid-row: 4;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.gale{
    background-color: rgb(46, 56, 36);
    display: grid;
    opacity: 0.5;
  filter: alpha(opacity=30);
}
.force{
    display: flex;
    
}
.foot{
    backface-visibility: hidden;
    background-attachment: fixed;
    background-color: darkcyan;
    width: 100%;
    height: 100%;

}
.bou{
    width: 50%;
    text-align: center;
}
.mon{
    background-color: darkgray;
    text-align-last: center;
}